<a href="https://colab.research.google.com/github/praveenk525/automated-review-rating-system/blob/main/notebooks/MERGE_%26_BALANCED_DATASET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOADING THE DATASETS

In [ ]:
import pandas as pd

df1=pd.read_csv('/content/clean_amazon.csv')
df2=pd.read_csv('/content/clean_imdb.csv')
df3=pd.read_csv('/content/clean_laptops.csv')
df4=pd.read_csv('/content/clean_recipe.csv')
df=pd.read_excel('/content/clean_review-details.xlsx')
df.to_csv('clean1_review-details.csv',index=False)
df5=pd.read_csv('/content/clean1_review-details.csv')
df6=pd.read_csv('/content/clean_reviews&ratings.csv')
df7=pd.read_csv('/content/clean_walmart.csv')
df8=pd.read_csv('/content/clean_womensclothing.csv')

RENAMING THE COLUMNS

In [ ]:
df2.rename(columns={'Review':'review'},inplace=True)
df6.rename(columns={'Rating':'rating'},inplace=True)
df7.rename(columns={'Rating':'rating','Review':'review'},inplace=True)
df8.rename(columns={'Review Text':'review','Rating':'rating'},inplace=True)

SWAPPING COLUMNS

In [ ]:
cols = list(df8.columns)

i, j = cols.index('review'), cols.index('rating')
cols[i], cols[j] = cols[j], cols[i]
df8 = df8[cols]

MERGING DATASETS

In [ ]:
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], ignore_index=True)

In [ ]:
combined_df.shape

(66268, 2)

In [ ]:
combined_df.head(5)

   rating                                             review
0     1.0  died within months stopped being able to read ...
1     1.0  i bougth this micro sd card after some trubles...
2     1.0  not good repeatedly self ejects from new galax...
3     1.0  i still own it but card went bad after weeks o...
4     1.0  with all the great reviews on this card i pick...

CHECKING NULL VALUES

In [ ]:
combined_df.isnull().sum()

rating     0
review    12
dtype: int64

DROPPING NULL VALUES

In [ ]:
combined_df.dropna(inplace=True)

CHECKING DUPLICATES

In [ ]:
print(combined_df.duplicated().sum())

1076

REMOVING DUPLICATES

In [ ]:
combined_df.drop_duplicates(subset=['review','rating'],inplace=True)

In [ ]:
combined_df['rating']=combined_df['rating'].astype(int)

In [ ]:
combined_df['rating'].value_counts()

rating
5    41092
4    12439
3     5986
1     2931
2     2732
Name: count, dtype: int64

In [ ]:
combined_df.head(5)

   rating                                             review
0       1  died within months stopped being able to read ...
1       1  i bougth this micro sd card after some trubles...
2       1  not good repeatedly self ejects from new galax...
3       1  i still own it but card went bad after weeks o...
4       1  with all the great reviews on this card i pick...

SAVING THE CLEANED DATASET

In [ ]:
combined_df.to_csv('cleaned_dataset.csv',index=False)

CREATING A BALANCED DATASET

In [ ]:
import pandas as pd
balanced_df = (combined_df.groupby('rating', group_keys=False)
  .apply(lambda x: x.sample(n=2500, random_state=42)))

remaining_df= combined_df.drop(balanced_df.index)


balanced_df= balanced_df.reset_index(drop=True)
remaining_df=remaining_df.reset_index(drop=True)

/tmp/ipython-input-39-546033919.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(n=2500, random_state=42)))

In [ ]:
balanced_df['rating'].value_counts()

rating
1    2500
2    2500
3    2500
4    2500
5    2500
Name: count, dtype: int64

In [ ]:
remaining_df['rating'].value_counts()

rating
5    38592
4     9939
3     3486
1      431
2      232
Name: count, dtype: int64

In [ ]:
balanced_df.to_csv('Balanced_dataset.csv',index=False)
remaining_df.to_csv('Remaining_df.csv',index=False)